*{
    margin: 0;padding: 0;box-sizing: border-box;
}
/* body{
    background-color: #f48e9b;
} */



/* .banner::before{
    background-image: url(https://source.unsplash.com/1600x900/?anime);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .5;
        content: "";
        position: absolute;
        width:100%;
        height:100%;
        z-index: -1;
        top:0;
        left:0;

} */


.navbar{

background-color: #f48e9b;
height: 15vh;
margin-left: 150px;
margin-right: 150px;
/* width: 80vw; */
/* margin-top: 10px; */
position: sticky;
top: 10px;
}

.navbar ul.list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner{
    /* position:static; */
    height: 100vh;
    width: 100vw;
    background: url(./images/martin-jernberg-nE2gf1scItI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
   justify-content: center;
   margin-top: -110px;

}

.banner p{
    font-size: 100px;
    font-family: 'Yuji Boku', serif;
    color: white;
    /* margin-bottom: 275px; */
}

.book{
    height: 50vh;
    background: url(./images/dil-H3yxl7t2oNE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.book p{
    font-size: 50px;
    color: white;
    font-family: 'Noto Serif', serif;
    padding-top: 50px;
    padding-left: 50px;
    
}

h1{
    text-align: center;
}

h1#head{
    font-size: 60px;
    font-family: 'Noto Serif', serif;
}

.service{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 60vh;
    width: 100vw;
    flex-wrap: wrap;
    /* border: 2px solid blueviolet; */
}

.service div.cab{
    /* border: 2px solid blue; */
    border-radius: 10px;
    height: 60vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color:sandybrown;
}

.service div.cab p{
    padding: 5px 5px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
.service div.cab img{
    padding: 5px 5px;
    text-align: center;
}
.service div.cab h1{
    padding: 5px 5px;
    text-align: center;
}

.service div.cab h1.head{
    font-size: 35px;
    font-family: 'Noto Serif', serif;
}
.service div.cab img{
    height: 25vh;
    width: 20vw;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.tourism{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height:170vh;
    width: 100vw;

}

.tourism div.cab{
    border-radius: 10px;
    height: 80vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color:sandybrown;
    margin: 10px 10px;
}
.tourism div.cab p{
    padding: 5px 5px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
.tourism div.cab img{
    padding: 5px 5px;
    text-align: center;
}
.tourism div.cab h1{
    padding: 5px 5px;
    text-align: center;
}

.tourism div.cab h1.head{
    font-size: 35px;
    font-family: 'Noto Serif', serif;
}
.tourism div.cab img{
    height: 35vh;
    width: 30vw;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.tourism div.cab a{
    text-decoration: none;
    /* border: 2px solid black; */
    padding: 10px 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'Noto Serif', serif;
}
.tourism div.cab a:hover{
    background-color: purple;
}

.offers{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    flex-direction: row;
    height: 50vh;
    width: 100vw;
}

.offers div.cab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:50vh ;
    width: 25vw;
    /* border: 2px solid black;
    color: white; */
}

.offers div.cab h1{
    font-family: 'Noto Serif', serif;

}
.offers div.cab p{
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.offers div.offer1{
    background: url(./images/carpool.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.offers div.offer1::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}
.offers div.offer2{
    background: url(./images/advance_cash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.offers div.offer2::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}
.offers div.offer3{
    background: url(./images/postpaid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.offers div.offer3::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}
.offers div.offer4{
    background: url(./images/Senior-Citizen.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.offers div.offer4::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}