*{
    margin: 0;padding: 0;box-sizing: border-box;
}
button{
    margin-top: 25px;
    padding: 6px 12px;
    border-radius: 10px;
    min-width: 130px;
    background: #DA1F32;
    color: #fff;
    transition: .3s all ease;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}


.navbar{

background-color:sandybrown;
height: 12vh;
margin-left: 150px;
margin-right: 150px;
/* width: 80vw; */
margin-top: 40px;
position: sticky;
top: 0px;
border-radius: 10px;
border-top-right-radius: 100px;
border-bottom-left-radius: 100px;
z-index: 1;
border-bottom: 5px solid rgb(231, 86, 33);
}

.navbar ul.list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 20px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    color: white;
}
.banner{
    /* position:static; */
    height: 105vh;
    width: 100vw;
    background: url(./images/pexels-parv-choudhary-2870167.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
   justify-content: center;
   margin-top: -150px;

}

.banner p{
    font-size: 100px;
    font-family: 'Yuji Boku', serif;
    color: white;
    /* margin-bottom: 275px; */
}

.book{
    height: 60vh;
    background: url(./images/dil-H3yxl7t2oNE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* position: relative; */
    /* opacity: .95; */
    
}
/* .book::before{
    background-image: url(./images/dil-H3yxl7t2oNE-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .5;
        content: "";
        position: absolute;
        width:100%;
        height:100%;
        z-index: -1;
        top:0;
        left:0; */
        /* content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.25); */
        /* z-index: -1;
} */



.book p{
    font-size: 50px;
    color: white;
    font-family: 'Noto Serif', serif;
    padding-top: 50px;
    padding-left: 50px;
    position:absolute;
    left: 30px;
    /* margin-right: 550px; */
    
}

h1{
    text-align: center;
}

h1#head{
    font-size: 60px;
    font-family: 'Noto Serif', serif;
}

.service{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 60vh;
    width: 100vw;
    flex-wrap: wrap;
    /* border: 2px solid blueviolet; */
}

.service div.cab{
    /* border: 2px solid blue; */
    border-radius: 10px;
    height: 60vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color:sandybrown;
}

.service div.cab p{
    padding: 5px 5px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
.service div.cab img{
    padding: 5px 5px;
    text-align: center;
}
.service div.cab h1{
    padding: 5px 5px;
    text-align: center;
}

.service div.cab h1.head{
    font-size: 35px;
    font-family: 'Noto Serif', serif;
}
.service div.cab img{
    height: 25vh;
    width: 20vw;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.tourism{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height:170vh;
    width: 100vw;

}

.tourism div.cab{
    border-radius: 10px;
    height: 80vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color:sandybrown;
    margin: 10px 10px;
}
.tourism div.cab p{
    padding: 5px 5px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
.tourism div.cab img{
    padding: 5px 5px;
    text-align: center;
}
.tourism div.cab h1{
    padding: 5px 5px;
    text-align: center;
}

.tourism div.cab h1.head{
    font-size: 35px;
    font-family: 'Noto Serif', serif;
}
.tourism div.cab img{
    height: 35vh;
    width: 30vw;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.tourism div.cab a{
    text-decoration: none;
    /* border: 2px solid black; */
    padding: 10px 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'Noto Serif', serif;
}
.tourism div.cab a:hover{
    background-color: purple;
}

.offers{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    flex-direction: row;
    height: 50vh;
    width: 100vw;
}

.offers div.cab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:50vh ;
    width: 25vw;
    /* border: 2px solid black;
    color: white; */
}

.offers div.cab h1{
    font-family: 'Noto Serif', serif;

}
.offers div.cab p{
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.offers div.offer1{
    background: url(./images/carpool.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.offers div.offer1::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}
.offers div.offer2{
    background: url(./images/advance_cash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.offers div.offer2::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}
.offers div.offer3{
    background: url(./images/postpaid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.offers div.offer3::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}
.offers div.offer4{
    background: url(./images/Senior-Citizen.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.offers div.offer4::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

#container {
    box-shadow: 2px 2px;
    border-radius: 5px;
    border: 1px solid black;
    width: 500px;
    height: 340px;
    margin: 100px auto;
    font-family: 'Noto Serif', serif;
    background: #1a171700;
}



h4 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #f48e9b;
}

#city_selection {
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    display: flex;
    padding-left: 100px;

}

.date {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.date_selection {
    display: flex;
    justify-content: space-around;
}

.time_selection {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.time {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid black;
}

select {
    display: block;
    width: 50%;
    ;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid black;
}

button {
    margin-top: 25px;
    margin-left: 180px;
    padding: 6px 12px;
    border-radius: 10px;
    min-width: 130px;
    background: #DA1F32;
    color: #fff;
    transition: .3s all ease;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.book div#container{
    border: none;
    padding: 10px 10px;
    position: absolute;
    right: 100px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid black; */
    height: 60vh;
    background-color: sandybrown;
    margin-top: 50px;
}

.footer div.first{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
    width: 100vw;
    /* height: 35vh; */
}
.footer div.first div.logo,.footer div.first div.about,.footer div.first div.contact{
    /* width: 30vw; */
    /* border: 2px solid blue; */
    font-family: 'Noto Serif', serif;
    padding: 5px 5px;
}
.footer div.first div.logo{
    width: 20vw;
}
.footer div.first div.about{
    width: 50vw;
    font-family: 'Signika Negative', sans-serif;
}
.footer div.first div.about h1{
    font-family: 'Noto Serif', serif;
    padding-bottom: 5px;
    text-align: left;
}
.footer div.first div.about p{
    padding-bottom: 18px;
}
.footer div.first div.contact{
    width: 25vw;
    text-align: left;
}
.footer div.first div.contact h1{
    text-align: left;
}
.footer div.first div.contact ul li{
    list-style: none;
    font-family: 'Signika Negative', sans-serif;
    /* padding-bottom: 10px; */
    /* padding: 5px 5px; */
}
.footer div.first div.contact ul{
    padding-bottom: 10px;
}
.footer div.first div.contact ul li i{
    padding: 5px 5px;
}

.footer div.first div.logo img{
    height: 20vh;
    width: 20vw;
}
.footer div.second{
    width: 80vw;
    height: 20vh;
    /* font-family: 'Signika Negative', sans-serif; */
    /* border: 2px solid green; */
}
.footer div.second ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
}
.footer div.second ul li{
    list-style: none;
}

.footer div.second ul li a i{
    text-decoration: none;
    /* font-family: 'Noto Serif', serif;
     */
     font-size: 50px;
    /* color: black; */

    /* border: 2px solid blue; */
    padding: 15px 15px;
    border-radius: 100px;
    background-color: white;
    color: black;
}

.footer h1.head{
    font-family: 'Noto Serif', serif; font-size: 25px;
    margin-top: 10px;
    margin-bottom: -50px;
    /* border: 2px solid black; */
}

.last{
    height: 8vh;
    width: 100vw;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.76);
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.last p{
    text-align: center;
}

.footer div.second ul li a i.fa-facebook-square:hover{
color: blue;
/* background-color: rgba(0, 0, 0, 0.76); */
}
.footer div.second ul li a i.fa-instagram-square:hover{
color: #fb3958;
/* background-color: rgba(0, 0, 0, 0.76); */
}
.footer div.second ul li a i.fa-github-square:hover{
color: rgb(66, 65, 65);
/* background-color: rgba(0, 0, 0, 0.76); */
}
.footer div.second ul li a i.fa-twitter-square:hover{
color: #00acee;
/* background-color: rgba(0, 0, 0, 0.76); */
}
.footer div.second ul li a i.fa-linkedin:hover{
color: blue;
/* background-color: rgba(0, 0, 0, 0.76); */
}